<div class="order-container">
    <div class="control-section">
        <div class="page-control orange" (click)="backToOrderList()">
            <img class="app-icon" src="../../assets/icons/back.svg">
            <div id="space-eater"></div>
            <div class="app-text">Back to Order Page</div>
        </div>
        <div id="space-eater"></div>
        <div class="page-control" (click)="deleteOrder(orderId)">
            <img class="app-icon" src="../../assets/icons/delete.svg">
            <div id="space-eater"></div>
            <div class="app-text">Delete Order</div>
        </div>
        <div class="page-control" (click)="modifyDeliveryStatus()">
            <img class="app-icon" src="../../assets/icons/plus.svg">
            <div id="space-eater"></div>
            <div class="app-text">Change Delivery Status</div>
        </div>
        
    </div>
    <div class="order-content">
        <div class="order-details">
            <div class="title">Order Details</div>
            <form [formGroup]="orderForm" class="content">
                <div class="input-group">
                    <input type="text" placeholder="Order ID" required="required" disabled formControlName="order_id"/>
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Order Description" required="required" formControlName="order_description"/>
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Origin Address" required="required" formControlName="order_origin_address"/>
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Destination Address" required="required" formControlName="order_destination_address"/>
                </div>
            </form>
        </div>
        <div class="order-subdetails">
            <div class="delivery-tracker">
                <div class="table-wrapper">
                    <table class="table-container">
                        <thead>
                            <tr>
                                <th>Delivery Timestamp</th>
                                <th>Delivery Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let delivery of orderDetails.delivery">
                                <td>{{delivery['Delivery Created']}}</td>
                                <td>{{delivery['Delivery Status Name']}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="space-eater"></div>
            <div class="map-container">
                <div id="map" style="width:100%;"> 
            </div>
        </div>
    </div>
    
</div>