app-order {
    width:100%;
    height: 100%;
}

.order-container {
    width:100%;
    height:100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    & > .control-section {
        display: flex;
        flex: 0 0 7%;
        background-color: white;

        & > #space-eater{
            display: flex;
            flex: 1 0 auto;
        }
    }

    & > .order-content {
        display: flex;
        flex: 1 0 auto;
        padding:10px;
        & > .order-details {
            display: flex;
            flex: 0 0 40%;
            background-color: rgba(255,255,255);
            margin: 10px;
            flex-direction: column;
            padding:10px;
            & > .title{
                display: flex;
                flex: 0 0 10%;
                font-size: 1.5vw;
                font-weight: bold;
                align-items: center;

            }

            & > .content {
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
            }
        }

        & > .order-subdetails {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            
            margin: 10px;

            & > .delivery-tracker {
                display: flex; 
                flex: 1 0 auto;
                background-color: rgba(255,255,255);
                & > .table-wrapper {
                    display: flex;
                    flex: 1 0 auto;
                }
            }
            & > #space-eater {
                display: flex;
                flex: 0 0 10px;
            }
            & > .map-container {
               
                display: flex; 
                flex: 0 0 60%;
                background-color: rgba(255,255,255);
            }
        }
    }
} 

